html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


/* BEGIN ShopItem_Card */
shopitem {
    border: 1px solid black;
    display: block;
    margin: 1rem;
    max-width: 18rem;
    min-width: 18rem;
    width: 18rem;
    
    article {
        user-select: none;
        a {
            color: inherit;
            text-decoration: inherit;
            figure {
                img {
                    max-width: 100%;
                }
            }
            h3 {
                font-size: 1.25rem;
                text-align: center;
            }
            p {
                margin: 0.5rem 0.5rem 1rem 0.5rem;
            }
            section {
                background-color: #eee;
                font-size: 1.125rem;
                padding: 0.125rem 0.5rem;
            }
        }
    }
}
/* END ShopItem_Card */

/* BEGIN cart */

.cartimg {
  max-width: 2rem;
}

/* END cart */
